body div {
  border: 1px solid red;
}
body div h1, body div h2 {
  text-align: center;
  color: green;
  text-decoration: underline;
}
body div section {
  display: flex;
  justify-content: center;
  margin: 20px;
}
body div section article {
  align-items: center;
  text-align: center;
  color: blue;
  border: 1px solid green;
  font-size: 1rem;
}
body div section footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

section article:nth-child(2), section article:nth-child(4) {
  color: red;
  border: 1px solid red;
  font-size: 1rem;
}

.fs-1rem {
  font-size: 1rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-1rem:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(2) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(3) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(4) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(5) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(6) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(7) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(8) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(9) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(10) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(11) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(12) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(13) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(14) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(15) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(16) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(17) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
.fs-1rem:nth-child(18) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
.fs-1rem:nth-child(19) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}

.fs-2rem {
  font-size: 2rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-2rem:nth-child(1) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(2) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(3) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(4) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(5) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(6) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(7) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(8) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(9) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(10) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(11) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(12) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(13) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(14) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(15) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(16) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(17) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
.fs-2rem:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.fs-2rem:nth-child(19) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.fs-3rem {
  font-size: 3rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fs-3rem:nth-child(1) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(2) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(4) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(5) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(6) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(7) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(8) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(9) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(10) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(11) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(12) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(13) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(14) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(15) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(16) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(17) {
  background-color: #d9d9d9;
  color: #262626;
}
.fs-3rem:nth-child(18) {
  background-color: #262626;
  color: #d9d9d9;
}
.fs-3rem:nth-child(19) {
  background-color: #d9d9d9;
  color: #262626;
}

/*# sourceMappingURL=style.css.map */
